<% if (success && success.length) { %>
  <div class="nes-container is-rounded">
    <p class="color-green"><%= success %></p>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="nes-container is-rounded">
    <p class="color-red"><%= error %></p>
  </div>
<% } %>

