mixin one-star
  i.fas.fa-star
  i.far.fa-star
  i.far.fa-star
  i.far.fa-star
  i.far.fa-star

mixin two-stars
  i.fas.fa-star
  i.fas.fa-star
  i.far.fa-star
  i.far.fa-star
  i.far.fa-star

mixin three-stars
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star
  i.far.fa-star
  i.far.fa-star    
            
mixin four-stars
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star
  i.far.fa-star

mixin five-stars
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star
  i.fas.fa-star