nav
  .logo
    h4 console.log
  ul.nav-links
    li
      a(href="/") Home
    li
      a(href="/posts") All Posts
    li
      a(href="/posts/new") Create Post
  .toggle-icon
    .line-top
    .line-middle
    .line-bottom