<nav>
  <div class="logo">
    <h4>console.log</h4>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">All Posts</a></li>
    <li><a href="/posts/new">Create Post</a></li>
  </ul>
  <div class="toggle-icon">
    <div class="line-top"></div>
    <div class="line-middle"></div>
    <div class="line-bottom"></div>
  </div>
</nav>