<div class="nes-select">
  <select name="review[rating]" required>
    <option value="" disabled selected hidden>Select a rating</option>
    <option value="5">⭐⭐⭐⭐⭐</option>
    <option value="4">⭐⭐⭐⭐</option>
    <option value="3">⭐⭐⭐</option>
    <option value="2">⭐⭐</option>
    <option value="1">⭐</option>
  </select>
</div>