#navbar {
  display: flex;
  justify-content: space-around;
  background-color: #5d4954;
  overflow: hidden;
}

#navbar a {
  color: #e2e2e2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
}

#navbar a:hover {
  background-color: #e2e2e2;
  color: #5d4954;
}