extends ../layout
block content
  .container
    h1 Create New Post
    form(action="/posts" method="POST" enctype="multipart/form-data")
      input.u-full-width(type='text' name='post[title]' placeholder='Title' required)
      input.u-full-width(type='text' name='post[price]' placeholder='Price' required)
      input(type='file' accept='images/*' name='images' multiple)
      textarea.u-full-width(name='post[description]' placeholder='Description')
      input.u-full-width(type='text' name='post[location]' placeholder='Location' required)
      input.button-primary(type='submit')